// ------------- COLORS ------------- //

$primary-black: #000;
$primary-white: #fff;
$primary-background: #f2f2f2;
$color-ghost-white: #828282;

//Spacing and font-size
$space: 1rem; // 16px //
$spacing-3xs: $space * 0.25; // 4px //
$spacing-xxs: $space * 0.5; // 8px //
$spacing-xs: $space * 0.75; // 12px //
$spacing-sm: $space; // 16px //
$spacing-md: $space * 1.25; // 20px //
$spacing-lg: $space * 1.5; // 24px //
$spacing-xl: $space * 1.75; // 28px //
$spacing-xxl: $space * 2; // 32px //
$spacing-3xl: $space * 2.25; // 36px //
$spacing-4xl: $space * 2.5; // 40px //
$spacing-5xl: $space * 2.75; // 44px //
$spacing-6xl: $space * 3; // 48px //
$spacing-7xl: $space * 3.25; // 52px //
$spacing-8xl: $space * 3.5; // 56px //
$spacing-9xl: $space * 3.75; // 60px //
$spacing-10xl: $space * 4; // 64px //
$spacing-11xl: $space * 4.25; // 68px //
$spacing-12xl: $space * 4.5; // 72px //
$spacing-13xl: $space * 4.75; // 76px //
$spacing-14xl: $space * 5; // 80px //
